<div>
    <h1 class="header-text">
        About CGPA Calculator
    </h1>
</div>


<div class="step-container mat-elevation-z4">
    <div class="point">
        <div class="header">
            <span>
                <button mat-mini-fab color="primary">1</button>
            </span>
            <span class="title">Why I made this application?</span>
        </div>

        <div class="content-container">
            <div class="content">
                <p>
                    After publishing result in each semester I had to calculate my CGPA and doing it each time using
                    other
                    website
                    or in hand is a bit annoying. Moreover, most of the website doesn't fit with my university CGPA
                    system.
                </p>

                <p>
                    So later on, I decided to make one. Previously I made an WPF - C# application (Windows Platform) for
                    my
                    personal use. But I realized that most of the people faces same problem that I faced previously.
                    This is why
                    I made this application to help who needs speacially for the students of East West University (EWU).
                </p>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="point">
        <div class="header">
            <span>
                <button mat-mini-fab color="primary">2</button>
            </span>
            <span class="title">Who am I?</span>
        </div>

        <div class="content-container">
            <div class="content">
                <p>
                    I'm <span>
                        <a style="color: #3f51b5; text-decoration: none;" href="https://github.com/rifayetazamtalukder"
                            target="_blank">
                            Md. Rifayet Azam Talukder.
                        </a>
                    </span>Currently, I'm studying
                    at East
                    West University in Computer Science
                    and
                    Engineering Department.
                </p>
            </div>
        </div>
    </div>


</div>