<div class="header">
    <span class="header-text">
        Ways to calculate GPA or CGPA
    </span>
</div>



<div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px" fxLayout.xs="column">
        <mat-card fxFlex>

            <mat-card-header>
                <mat-card-title>Step 1</mat-card-title>
            </mat-card-header>

            <img mat-card-image src="../../assets/images/help-1.png" alt="help-pic-1">

            <mat-card-content>
                <p>
                    1. Select Your University First
                </p>

                <p>
                    2. Go to Step 2
                </p>
            </mat-card-content>

        </mat-card>

        <mat-card fxFlex>

            <mat-card-header>
                <mat-card-title>Step 2</mat-card-title>
            </mat-card-header>

            <img mat-card-image src="../../assets/images/help-2.png" alt="help-pic-2">

            <mat-card-content>
                <p>
                    1. Enter Current CGPA and current earned credit only if you want to calculate CGPA. For Calculating
                    GPA it's optional.
                </p>

                <p>
                    2. Go to step 3
                </p>
            </mat-card-content>

        </mat-card>

    </div>

</div>

<div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px" fxLayout.xs="column">


        <mat-card fxFlex>

            <mat-card-header>
                <mat-card-title>Step 3</mat-card-title>
            </mat-card-header>

            <img mat-card-image src="../../assets/images/help-3.png" alt="help-pic-3">

            <mat-card-content>
                <p>
                    1. Select Subjects Grade to enable corresponding credit field
                </p>

                <p>
                    2. Go to Step 4
                </p>
            </mat-card-content>

        </mat-card>

        <mat-card fxFlex>

            <mat-card-header>
                <mat-card-title>Step 4</mat-card-title>
            </mat-card-header>

            <img mat-card-image src="../../assets/images/help-4.png" alt="help-pic-4">

            <mat-card-content>
                <p>
                    1. Click on the Button "Calculate GPA/CGPA"
                </p>

                <p>
                    2. Done: See Result Below the Button
                </p>
            </mat-card-content>

        </mat-card>

    </div>

</div>