/*  */
/*  */
/*  */
/*  */

.header-text {
    background-color: #673ab7;
    padding: 5px 20%;
    color: white;
    width: max-content;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.form-field-container {
    background-color: teal;
    height: 50%;
    text-align: center;
    padding-top: 40px;
    color: white;
}

.form-field-container > h2 {
    font-size: 16px;
}



/* 
    ```````````````````````````````````````
            Media Queries Rules 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    1. It has to be orderd:
        a) either from smaller to big
        b) or from big to smaller
    
    2. For desktop first:
        Use smaller to big media queries

    Screen: 
    ```````
    ``````````````````````````````````````
    SL.   Device Type  Starting Pixel
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    1.    Mobile S     320px
    2.    Mobile M     375px
    3.    Mobile L     425px
    4.    Tablet       768px
    5.    Laptop       1024px
    6.    Laptop L     1440px
    7.    4k           2560px
*/

@media screen and (max-width: 200px) {
    /* Don't Apply Any Design */
    .form-field-container {
        background-color: darkmagenta;
    }
    h2::after {
        content: "Don't Apply any";
    }
    
}

@media screen and (min-width: 200px) and (max-width: 320px) {
    /* Mobile S */
    .form-field-container {
        background-color: green;
    }
    h2::after {
        content: "Mobile S : 320px to 0";
    }
    
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    /* Mobile M */

    .form-field-container {
        background-color: gold;
    }
    h2::after {
        content: "Mobile M : 375px to 321px";
    }

}
@media screen and (min-width: 376px) and (max-width: 425px) {
    /* Mobile L */
    
    .form-field-container {
        background-color: tomato;
    }
    h2::after {
        content: "Mobile L : 425px to 376px";
    }


}
@media screen and (min-width: 426px) and (max-width: 768px) {
    /* Tablet */

    .form-field-container {
        background-color: violet;
    }
    h2::after {
        content: "Mobile S : 768px to 426px";
    }

}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Laptop */

    .form-field-container {
        background-color: rgb(214, 23, 23);
    }
    h2::after {
        content: "Mobile S : 1024px to 769px";
    }

}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    /* Laptop L*/

    .form-field-container {
        background-color: rgb(51, 51, 177);
    }
    h2::after {
        content: "Mobile S : 1440px to 1025px";
    }

}
@media screen  and (min-width: 1441px) {
    /* 4K Devices */

    .form-field-container {
        background-color: blueviolet;
    }
    h2::after {
        content: "Mobile S : 2560px to 1441px";
    }

}




