/*  */
/*  */
/*  */

.login-container {
    width: 50%;
    height: max-content;
    margin: 0 auto;

    margin-top: 20px;
}

.header {
    text-align: center;
    border-radius: 4px;
    background-color: #3f51b5;
    color: white;
    padding: 5px 0;
}

.header2 {
    text-align: center;
    border-radius: 4px;
    background-color: tomato;
    color: white;
    padding: 5px 10px;
    margin: 0 20%;
}


.error-text {
    text-align: center;
    border-radius: 4px;
    background-color: #f44336;
    color: white;
    padding: 5px 0;
}

.loginForm {
    width: 80%;
    height: 100%;
    padding: 5px;
    margin: 0 auto;
}

mat-form-field {
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}

.button-right {
    display: flex;
    justify-content: flex-end;
    /* justify-content: center; */
    margin-bottom: 10px;
}


.adminPanel {
    width: 80%;
    margin: 0 auto;

    margin-top: 20px;
}

.card-all {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin: 10px;
}

.feed-card {
    margin: 10px 0;
}

.unread-feed {
    background-color: #5c6ed4;
    color: white;
}

.feedbacks {
    /* width: 100%; */
    padding: 10px;
}

/* .feedbacks:nth-child(even) {
    background-color: tomato;
    color: white;
}

.feedbacks:nth-child(odd) {
    background-color: teal;
    color: white;
} */

@media screen and (max-width: 425px) {
    .adminPanel {
        width: 95%;
    }
    .login-container {
        width: 95%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .adminPanel {
        width: 90%;
    }
    .login-container {
        width: 90%;
    }
}

@media screen and (min-width: 1441px) {
    .login-container {
        width: 40%;
    }
}

